console.log("configuracion de desarrollo activada");

module.exports = {
  timezone: 'America/La_Paz',
  params: {
    host: "127.0.0.1",
    sync: {force: process.env.FORCE || false},
    define: {
      underscored: true,
      freezeTableName: true,
    },
  },
  sistema:{
    tiempo_token: 240
  },
  puerto: 4000,
  //configuracion con jwt poner una palabra secreta segura
  jwtSecret: "mysecretkey",
  jwtSession: { session: false },
};